aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
any-api
anyio
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
docstring_parser
exceptiongroup
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-resource-manager
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
greenlet
groq
grpc-gateway
grpc-google-iam-v1
grpcio
grpcio-reflection
grpcio-status
grpcio-tools
h11
httpcore
httplib2
httpx
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-pinecone
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
narwhals
networkx
numpy
orjson
packaging
pait
pandas
pillow
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
pip==24.2
proto-plus
protobuf
protobuf-to-pydantic
protoc-gen-openapiv2
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pypdf
PyPDF2==3.0.1
python-dateutil
python-dotenv
pytz==2024.1
PyYAML==6.0.2
referencing
regex
requests==2.32.3
rich==13.8.0
rpds-py
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.1
scipy==1.13.1
sentence-transformers==3.0.1
shapely==2.0.6
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.34
starlette==0.37.2
streamlit==1.37.1
sympy==1.13.2
tenacity==8.5.0
threadpoolctl==3.5.0
tokenizers==0.19.1
toml==0.10.2
torch==2.4.1
tornado==6.4.1
tqdm==4.66.5
transformers==4.44.2
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.30.6
watchdog==4.0.2
yarl==1.9.11
